.main{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;

    margin : 20px;

    background-color: lightgray;
    font-family: Arial;
    padding: 20px;
    border: dashed;
    border-radius: 10px;
}

ul li{
    margin : 25px;
    height: 480px;
    list-style-type:none;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 6px  6px  6px  6px gray;
}

