.main{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    min-width:300px;
    margin : 20px;
    background-color: lightgray;
    font-family: Arial;
    padding: 20px;
    border: dashed;
    border-radius: 10px;
}

@media screen and (min-width: 650px ) and (max-width: 900px){
    .main{
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 650px){
    .main{
        grid-template-columns: auto;
    }
}

ul li{
    margin : 25px;
    height: 480px;
    list-style-type:none;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 6px  6px  6px  6px gray;
}

