.outBox{
    display: grid;
    grid-template-rows: 25% 75%;
    border : 2px solid red;
    border-radius: 10px;
    /*//margin-bottom: 10px;*/
    height: 100%;
    margin : 0px;
    background-color: whitesmoke;
    padding-top:5px;
    padding-bottom:25px;
    padding-right:10px;
    padding-left:10px;
    background-image: linear-gradient(
            to right,
            rgb(145, 70, 74),
            rgba(255,0,0,0),
            white 30%
    );


}
.innerBox{
    display: grid;
    /*grid-template-rows: repeat(4, 25%);*/
    grid-template-rows: auto auto auto 10%;

}

.h2Style{
    /*font-family: "Arial Black";*/
    font-weight: bolder;
    color  : red;
    font-color : red;
    font-size: 25px;
}

.timeStyle{
    /*font-family: "Arial Black";*/
    font-weight: bold;
    font-size : 10px;
}

.articleImage{
    max-width: 150px;
    min-height : 40px;
    max-height: 100px;
    display: flex;
    padding-top: 10px;
    padding-right: 20px;

}
.button{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.shortText{
    font-family: "Arial";
    font-size : 13px;
}

.test{
    font-family: serif;
    font-style: italic;
    color: #c00;
    background-color: #999;
    text-align: right;
    font-weight: bold;
    border: 5px dotted #c00;
}



