.outBox{
    display: grid;
    grid-template-rows: 25% 75%;
    border : 2px solid red;
    border-radius: 10px;
    height: 100%;
    margin : 0px;
    background-color: whitesmoke;
    padding-top:5px;
    padding-bottom:25px;
    padding-right:10px;
    padding-left:10px;
    background-image: linear-gradient(
            to right,
            rgb(145, 70, 74),
            rgba(255,0,0,0),
            white 30%
    );

}


@media  (min-width: 500px) and (max-width : 650px){
    .outBox{
        background-image: linear-gradient(
                to right,
                rgb(145, 70, 74),
                rgba(255,0,0,0),
                white 80%
        );
    }

    .h2Style{
        font-size: 35px;
        font-style: italic;
        text-shadow: 2px 2px 2px lightgray;
    }

    .shortText{
        font-size: 15px;
    }
}


@media  (max-width: 499px) {
    .h2Style{
        font-size: 25px;
    }
    .shortText{
        font-size: 12px;
    }
}

@media  (min-width: 649px)  and (max-width : 1199px){
    .h2Style{
        font-size: 25px;
    }
    .shortText{
        font-size: 12px;
    }
}



@media  (min-width: 1200px) {
    .outBox{
        background-image: linear-gradient(
                to right,
                rgb(145, 70, 74),
                rgba(255,0,0,0),
                white 80%
        );
    }

    .h2Style{
        font-size: 35px;
        font-style: italic;
        text-shadow: 2px 2px 2px lightgray;
    }

    .shortText{
        font-size: 15px;
    }
}

.innerBox{
    display: grid;
    grid-template-rows: auto auto auto 10%;

}

.h2Style{
    font-weight: bolder;
    color  : darkred;
    font-color : darkred;
}

.timeStyle{
    font-color : black;
    font-weight: bold;
    font-size : 10px;
}

.articleImage{
    max-width: 150px;
    min-height : 40px;
    max-height: 100px;
    display: flex;
    padding-top: 10px;
    padding-right: 20px;

}
.button{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.shortText{
    font-family: "Arial";
}

.test{
    font-family: serif;
    font-style: italic;
    color: #c00;
    background-color: #999;
    text-align: right;
    font-weight: bold;
    border: 5px dotted #c00;
}



