.authorButton{
    /*margin-bottom: 20px;*/
    border: 1px solid white;
    border-radius: 10px;
    background-color: red;
    color: white;
    /*display: inline-block;*/
    font-size: 15px;
    padding: 5px 40px;
    min-width: 100%;
}